---
import { getCollection } from "astro:content";
import BaseLayout from "@layouts/BaseLayout.astro";

import { SITE_TITLE } from "../site";

const { article } = Astro.props;
const { Content } = await article.render();

const pageTitle = `${article.data.title} - ${SITE_TITLE}`;

export async function getStaticPaths() {
  const allArticles = await getCollection("articles");
  return allArticles.map((article) => ({
    params: { slug: article.slug },
    props: { article },
  }));
}
---

<BaseLayout
  title={pageTitle}
  description={article.data.description}
  thumbnailImgSrc={article.data.image.src}
>
  <main class="max-w-2xl m-auto">
    <div class="flex flex-col gap-y-2 mb-12 items-center">
      <div>
        <time datetime={article.data.pubDate.toISOString()}>
          {article.data.pubDate.toISOString().slice(0, 10)}
        </time>
      </div>
      <div>
        <h1 class="text-2xl font-bold">{article.data.title}</h1>
      </div>
      <div class="text-sm tracking-tighter">
        <p class="my-0">{article.data.description}</p>
      </div>
      <div class="mt-6 flex flex-col gap-y-2">
        <img
          class="mx-0"
          src={article.data.image.src}
          alt={article.data.image.alt}
        />
        <div class="text-xs text-center opacity-75">
          {article.data.image.alt}
        </div>
      </div>
    </div>
    <div>
      <Content />
    </div>
  </main>
</BaseLayout>
