---
import { getCollection } from "astro:content";
import BaseLayout from "@layouts/BaseLayout.astro";

export async function getStaticPaths() {
  const allArticles = await getCollection("articles");
  return allArticles.map((article) => ({
    params: { slug: article.slug },
    props: { article },
  }));
}

const { article } = Astro.props;
const { Content } = await article.render();

const pageTitle = `${article.data.title} - 科学技術コミュ日記`;
---

<BaseLayout title={pageTitle} description={article.data.description}>
  <main class="max-w-2xl m-auto">
    <div class="flex flex-col gap-y-2 mb-12 items-center">
      <div class="tracking-tighter">
        <time datetime={article.data.pubDate.toISOString()}>
          {article.data.pubDate.toISOString().slice(0, 10)}
        </time>
      </div>
      <div>
        <h1 class="text-3xl font-bold">{article.data.title}</h1>
      </div>
      <div class="text-sm tracking-tighter">
        <p class="my-0">{article.data.description}</p>
      </div>
      <div>
        <img src={article.data.image.src} alt={article.data.image.alt} />
      </div>
    </div>
    <div>
      <Content />
    </div>
    <div class="text-center my-12 text-lg">
      <a href="/" class="decoration-none hover:opacity-75">←</a>
    </div>
  </main>
</BaseLayout>
