---
import BaseLayout from "@layouts/BaseLayout.astro";
import { getCollection } from "astro:content";
import Card from "@components/Card.astro";

import { SITE_TITLE, SITE_DESCRIPTION } from "../site";

const allArticles = await getCollection("articles");
const thumbnailArticles = allArticles
  .sort((a, b) => {
    return b.slug.localeCompare(a.slug);
  })
  .slice(0, 5);
---

<BaseLayout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <main class="max-w-6xl m-auto">
    <div class="text-sm text-center mb-12">
      {SITE_DESCRIPTION}
    </div>
    <div class="grid grid-cols-1 gap-9 sm:grid-cols-3">
      {
        thumbnailArticles.map((article, index) => (
          <Card article={article} index={index} />
        ))
      }
      <div class="grid place-items-center">
        <a href="/archives/" class="italic decoration-none hover:underline"
          >... 過去の日記 →</a
        >
      </div>
    </div>
  </main>
</BaseLayout>
