---
import BaseLayout from "@layouts/BaseLayout.astro";
import { CollectionEntry, getCollection } from "astro:content";
import Card from "@components/Card.astro";

import { SITE_TITLE, SITE_DESCRIPTION } from "../site";

const allArticles = await getCollection("articles");
const pubArticles = allArticles.filter((article) => !article.data.isDraft);
const sortedPubArticles = pubArticles.sort((a, b) => {
  return b.slug.localeCompare(a.slug);
});
const N_THUMBNAILS = 9;
const thumbnailArticles = sortedPubArticles.slice(0, N_THUMBNAILS);

// split the pubArticles by the month
const articlesByMonth: { [_: string]: CollectionEntry<"articles">[] } = {};
sortedPubArticles.forEach((article) => {
  const pubDate = article.data.pubDate;
  const year = pubDate.getFullYear();
  const month = pubDate.getMonth() + 1;
  const key = `${year}年${month}月`;
  if (!articlesByMonth[key]) {
    articlesByMonth[key] = [];
  }
  articlesByMonth[key].push(article);
});
---

<BaseLayout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <main class="max-w-5xl m-auto">
    <div class="text-sm text-center mb-12">
      {SITE_DESCRIPTION}<br />
      経緯 → <a href="/2023-05-12/">「CoSTEP前夜」（2023-05-12）</a>
    </div>

    <div class="grid grid-cols-1 gap-9 sm:grid-cols-3">
      {
        thumbnailArticles.map((article, index) => (
          <Card article={article} index={index} />
        ))
      }
    </div>

    {
      Object.entries(articlesByMonth).map(([yearMonth, articles]) => (
        <div class="max-w-2xl mx-auto mt-16">
          <div class="flex flex-col gap-y-3">
            <div class="text-center font-semibold text-lg">{yearMonth}</div>
            {articles.map((article) => (
              <a
                href={`/${article.slug}/`}
                class="text-neutral-800 decoration-none"
              >
                <div class="flex flex-col gap-y-1 rounded-2xl p-4 hover:bg-amber-300 hover:text-neutral-800">
                  <div class="flex justify-between gap-x-6 items-start">
                    <div>{article.data.title}</div>
                    <div class="shrink-0 opacity-75 tracking-tighter text-sm">
                      <time datetime={article.data.pubDate.toISOString()}>
                        {article.data.pubDate.toISOString().slice(0, 10)}
                      </time>
                    </div>
                  </div>
                  <div class="text-xs tracking-tight">
                    {article.data.description}
                  </div>
                </div>
              </a>
            ))}
          </div>
        </div>
      ))
    }
  </main>
</BaseLayout>
