---
import BaseLayout from "@layouts/BaseLayout.astro";
import { getCollection } from "astro:content";
import Card from "@components/Card.astro";

import { SITE_TITLE, SITE_DESCRIPTION } from "../site";

const allArticles = await getCollection("articles");
const pubArticles = allArticles.filter((article) => !article.data.isDraft);
const sortedPubArticles = pubArticles.sort((a, b) => {
  return b.slug.localeCompare(a.slug);
});
const N_THUMBNAILS = 9;
const thumbnailArticles = sortedPubArticles.slice(0, N_THUMBNAILS);
const listArticles = sortedPubArticles.slice(N_THUMBNAILS);
---

<BaseLayout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <main class="max-w-5xl m-auto">
    <div class="text-sm text-center mb-12">
      {SITE_DESCRIPTION}
    </div>

    <div class="grid grid-cols-1 gap-9 sm:grid-cols-3">
      {
        thumbnailArticles.map((article, index) => (
          <Card article={article} index={index} />
        ))
      }
    </div>

    {
      listArticles.length === 0 ? null : (
        <div class="max-w-2xl mx-auto mt-16">
          <div class="flex flex-col gap-y-3">
            {listArticles.map((article) => (
              <a
                href={`/${article.slug}/`}
                class="text-neutral-800 decoration-none"
              >
                <div class="flex flex-col gap-y-1 rounded-2xl p-4 hover:bg-amber-300 hover:text-neutral-800">
                  <div class="flex justify-between gap-x-6 items-start">
                    <div>{article.data.title}</div>
                    <div class="shrink-0 opacity-75 tracking-tighter">
                      <time datetime={article.data.pubDate.toISOString()}>
                        {article.data.pubDate.toISOString().slice(0, 10)}
                      </time>
                    </div>
                  </div>
                  <div class="text-xs tracking-tight">
                    {article.data.description}
                  </div>
                </div>
              </a>
            ))}
          </div>
        </div>
      )
    }
  </main>
</BaseLayout>
