---
import "@assets/global.css";

import { SITE_TITLE } from "../site";

export interface Props {
  title: string;
  description: string;
}
const { title, description } = Astro.props;
---

<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <title>{title}</title>
    <meta name="title" content={title} />
    <meta name="description" content={description} />
  </head>
  <body>
    <header
      class="mt-12 mb-12 text-center font-heading font-bold hover:underline"
    >
      <a href="/" class="decoration-none">{SITE_TITLE}</a>
    </header>

    <slot />

    <footer class="mt-12 mb-12 flex justify-center gap-x-16 text-neutral-500">
      <a
        href="https://sorami.dev"
        target="_blank"
        rel="noopener noreferrer"
        class="hover:opacity-75"><div class="i-ion-person"></div></a
      >
      <a
        href="https://github.com/sorami/costep"
        target="_blank"
        class="hover:opacity-75"
        rel="noopener noreferrer"><div class="i-ion-terminal"></div></a
      >
      <a
        href="/rss.xml"
        target="_blank"
        rel="noopener noreferrer"
        class="hover:opacity-75"><div class="i-ion-logo-rss"></div></a
      >
    </footer>
  </body>
</html>
