---
import "@assets/global.css";
import titleSVG from "@assets/title.svg";

export interface Props {
  title: string;
  description: string;
}
const { title, description } = Astro.props;

const baseURL = Astro.site?.toString() ?? "";
const baseURLWithoutTrailingSlash = baseURL.endsWith("/")
  ? baseURL.slice(0, -1)
  : baseURL;
const canonicalURL = baseURLWithoutTrailingSlash + Astro.url.pathname;
const thumbnailImgSrc = baseURLWithoutTrailingSlash + "/social.png";
---

<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="canonical" href={canonicalURL} />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

    <title>{title}</title>
    <meta name="title" content={title} />
    <meta name="description" content={description} />

    <meta property="og:type" content="website" />
    <meta property="og:url" content={canonicalURL} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={thumbnailImgSrc} />

    <meta property="twitter:card" content="summary" />
    <meta property="twitter:url" content={canonicalURL} />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={description} />
    <meta property="twitter:image" content={thumbnailImgSrc} />
  </head>

  <body>
    <header class="mt-12 mb-12 flex justify-center">
      <a href="/">
        <img
          src={titleSVG}
          alt="科学技術コミュ日記"
          class="max-w-52 rounded-0"
        />
      </a>
    </header>

    <slot />

    <footer class="my-16 text-lg text-neutral-500">
      {
        Astro.url.pathname === "/" ? (
          <div class="flex justify-center gap-x-16">
            <a
              href="https://sorami.dev"
              target="_blank"
              rel="noopener noreferrer"
              class="hover:text-amber-500"
            >
              <div class="i-ion-person" />
            </a>
            <a
              href="https://github.com/sorami/costep"
              target="_blank"
              class="hover:text-amber-500"
              rel="noopener noreferrer"
            >
              <div class="i-ion-terminal" />
            </a>
            <a
              href="/rss.xml"
              target="_blank"
              rel="noopener noreferrer"
              class="hover:text-amber-500"
            >
              <div class="i-ion-logo-rss" />
            </a>
          </div>
        ) : (
          <div class="flex justify-center">
            <a href="/" class="hover:text-amber-500">
              <div class="i-ion-home" />
            </a>
          </div>
        )
      }
    </footer>
  </body>
</html>
